<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
					</div>
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="id" name="id" type="hidden" th:value="${actuator.id}"> 
							<div class="form-group">
								<label class="col-sm-3 control-label">执行机ip：</label>
								<div class="col-sm-8">
									<input id="ip" name="ip" class="form-control"
										type="text" th:value="${actuator.ip}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">获取执行设备接口：</label>
								<div class="col-sm-8">
									<input id="deviceUri" name="deviceUri" class="form-control"
										type="text" th:value="${actuator.deviceUri}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">执行机执行接口：</label>
								<div class="col-sm-8">
									<input id="activeUri" name="activeUri" class="form-control"
										type="text" th:value="${actuator.activeUri}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/actuator/edit.js">
	</script>
</body>

</html>
